:root {
  --title-size: 1.5rem;
  --heading-size: 1rem;
  --link-color: #005aff;

  @include view($min-width: $tablet-portrait) {
    --title-size: 2rem;
    --heading-size: 1.5rem;
  }
}

html {
  font-family: "Inter", "Source Han Sans", "Noto Sans JP";
  font-size: 100%;
  line-height: $lh;
  scroll-behavior: smooth;
}

iframe {
  display: block;
}

strong {
  font-weight: 700;
}

svg {
  display: block;
}
