:root {
  --title-size: 1.5rem;
  --heading-size: 1rem;

  @include view($min-width: $tablet-portrait) {
    --title-size: 2rem;
    --heading-size: 1.5rem;
  }
}

html {
  font-family: "Inter", "Source Han Sans", "Noto Sans JP";
  font-size: 100%;
  line-height: 1.25;
  scroll-behavior: smooth;
}
