@mixin _arrow-right {
  &:after {   
    transform: rotate(135deg); /* 矢印の角度の指定 */
    position: absolute; /* 矢印の位置の指定 */
    right: -1.7rem; /* 矢印の位置の指定 */
    bottom: .4rem; /* 矢印の位置の指定 */
    border-top: 0.2rem solid #37b8df; /* 矢印の太さと色の指定 */
    border-left: 0.2rem solid #37b8df; /* 矢印の太さと色の指定 */
  }
}