.events {
  background: #e9e9e9;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-feature-settings: "palt";
    font-size: var(--title-size);
    font-weight: 700;
    margin-block-end: 32px;
  }
}

.events__container {
  table {
    > thead {
      > tr {
        background: #606060;
        border: solid 1px #606060;
        color: #fff;

        > th {
          font-size: var(--heading-size);
          font-weight: 700;
          padding: 16px;
          text-align: center;
        }
      }
    }

    > tbody {
      > tr {
        border: solid 1px #606060;

        &:nth-child(2n) {
          background: #f9f9f9;
        }

        > td {
          padding: 16px;

          &:first-child {
            font-feature-settings: "tnum";
            font-size: var(--heading-size);
            font-weight: 700;
            text-align: center;
          }
        }
      }
    }
  }
}
