.join-us {
  @media screen and(min-width: 768px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.join-us__contents {
  background: #606060;
  color: #fff;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-feature-settings: "palt";
    font-size: var(--title-size);
    font-weight: 700;
    margin-block-end: 32px;
  }

  > p {
    line-height: 1.5;

    &:not(:last-child) {
      margin-block-end: 8px;
    }
  }
}

.join-us__button {
  align-items: center;
  background: #00b0f0;
  color: #fff;
  display: flex;
  font-feature-settings: "palt";
  font-size: var(--heading-size);
  font-weight: 700;
  justify-content: center;
  padding: 32px;

  &:hover {
    background: #70d9ff;
  }

  > svg {
    block-size: 1em;
    inline-size: 1em;
  }
}
