.schedule {
  background: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-feature-settings: "palt";
    font-weight: 700;
    font-size: var(--title-size);
  }

  > iframe {
    inline-size: 100%;
    block-size: auto;

    // Debug
    aspect-ratio: 16/9;
  }
}
