.schedule {
  background: #fff;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-feature-settings: "palt";
    font-size: var(--title-size);
    font-weight: 700;
    margin-block-end: 32px;
  }

  > iframe {
    aspect-ratio: 16/9;
    block-size: auto;
    inline-size: 100%;
  }
}

.schedule__contents {
  margin-block-end: 32px;

  *:where(:not(:last-child)) {
    line-height: 1.5;
    margin-block-end: 8px;
  }

  a:any-link {
    align-items: center;
    color: rgb(0, 90, 255);
    display: inline-flex;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
