.teams {
  background: #fff;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-feature-settings: "palt";
    font-size: var(--title-size);
    font-weight: 700;
    margin-block-end: 32px;
  }
}

.teams__container {
  display: grid;
  gap: 32px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.teams__card {
  align-items: flex-end;
  aspect-ratio: 16/9;
  background: #000;
  border-radius: 16px;
  color: #fff;
  display: flex;
  overflow: hidden;
  padding: 16px;
  position: relative;

  > h3 {
    font-feature-settings: "palt";
    font-size: var(--heading-size);
    font-weight: 700;

    > a {
      align-items: center;
      display: flex;

      &::before {
        block-size: 100%;
        content: "";
        inline-size: 100%;
        left: 0;
        position: absolute;
        top: 0;
      }

      > svg {
        block-size: 1em;
        inline-size: 1em;
      }
    }
  }
}
