%markdown-content {
  * {
    line-height: 1.5;
  }

  * + * {
    margin-block-start: 8px;
  }

  a:any-link {
    align-items: center;
    color: #005aff;
    display: inline-flex;
    font-weight: 700;
    margin-block-start: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-inline-start: 2em;

    > li {
      list-style: disc;
    }

    ul,
    ol {
      margin-block-start: 0;
    }
  }

  ol {
    margin-inline-start: 2em;

    > li {
      list-style: decimal;
    }

    ul,
    ol {
      margin-block-start: 0;
    }
  }

  blockquote {
    border-inline-start: solid 1px #606060;
    margin-inline-start: 2em;
    padding: 16px;
  }

  table {
    font-feature-settings: "tnum";
    margin-inline: auto;

    > thead {
      > tr {
        > th {
          border: solid 1px #404040;
          font-weight: 700;
          line-height: 1.25;
          padding: 16px;
          text-align: center;
        }
      }
    }

    > tbody {
      > tr {
        &:nth-child(2n - 1) {
          background: #e9e9e9;
        }

        &:nth-child(2n) {
          background: #fff;
        }

        > td {
          border: solid 1px #404040;
          padding: 16px;
        }
      }
    }
  }
}
