.faq {
  background: #eee;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-block-end: 32px;
  }
}

.faq__container {
  display: grid;
  gap: 32px;
}

.faq__card {
  background: #fff;
  border-radius: 16px;
  padding: 32px;

  > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-block-end: 16px;
  }
}
