.header__container {
  background: #202020;
  block-size: 100%;
  color: #fff;
  inline-size: 100%;
  left: 0;
  overflow-y: auto;
  padding-block: 64px;
  padding-inline: 16px;
  position: fixed;
  top: 0;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    inline-size: 25%;
  }

  > svg {
    block-size: 48px;
    display: block;
    margin-inline: auto;
  }

  > * + * {
    margin-block-start: 32px;
  }
}

.header__toggle {
  display: none;

  &:not(:checked) ~ .header__container {
    display: none;

    @media screen and(min-width: 1024px) {
      display: block;
    }
  }

  &:checked + .header__toggle-button {
    background: none;
    box-shadow: none;

    > svg {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }
}

.header__toggle-button {
  background: #00b0f0;
  border-radius: 0 0 16px 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  left: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 2;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  > svg {
    color: #fff;

    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }
}
