.header__container {
  background: #202020;
  block-size: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  left: 0;
  overflow-y: auto;
  padding-block: 64px;
  padding-inline: 16px;
  position: fixed;
  row-gap: 32px;
  top: 0;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    inline-size: 25%;
  }

  > * {
    flex-shrink: 0;
  }
}

.header__logo {
  display: table;
  margin-inline: auto;

  > svg {
    display: block;
  }
}

.header__toggle {
  display: none;

  &:not(:checked) ~ .header__container {
    @media not (max-width: (1024px - 1px)) {
      display: none;
    }
  }

  &:checked + .header__toggle-button--open {
    display: none;
  }
}

.header__toggle-button {
  left: 0;
  padding: 16px;
  top: 0;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  > svg {
    color: #fff;
    display: block;
  }
}

.header__toggle-button--open {
  background: #00b0f0;
  border-radius: 0 0 16px 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
}

.header__toggle-button--close {
  position: absolute;
}
