.menu {
  background: #404040;
  border-radius: 16px;
  overflow: hidden;
}

.menu__item {
  align-items: center;
  column-gap: 16px;
  display: flex;
  padding: 16px;
  flex-grow: 1;

  &:hover {
    background: #606060;
  }

  > svg {
    block-size: 1em;
    inline-size: 1em;

    &:nth-child(2) {
      margin-inline-start: auto;
    }
  }
}

.menu__item--join-us {
  background: #00b0f0;
  column-gap: 0;
  justify-content: center;

  &:hover {
    background: #70d9ff;
  }
}
