.teams {
  background: #eee;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  padding-inline: 32px;
  row-gap: 32px;

  > h2 {
    font-weight: 700;
    font-size: 2rem;
  }
}

.teams__container {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.teams__card {
  aspect-ratio: 1200/630;
  background: #000;
  border-radius: 16px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 16px;

  &:hover {
  }

  > h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
