<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ .Site.Title }}</title>

    {{ with resources.GetRemote "https://cdn.jsdelivr.net/npm/the-new-css-reset@latest/css/reset.min.css" }}
      <link
        rel="stylesheet"
        href="{{ .Permalink }}"
      />
    {{ end }}

    {{ with resources.Get "scss/style.scss" | resources.ToCSS | resources.Fingerprint }}
      <link
        rel="stylesheet"
        href="{{ .Permalink }}"
      />
    {{ end }}
  </head>
  <body class="body">
    <header class="body__header">
      {{/* ロゴ */}}
      {{ with resources.Get "img/logo.svg" }}
        {{ .Content | safeHTML }}
      {{ end }}

      {{/* 目次 */}}
      <ul class="menu">
        {{ block "menu" . }}
        {{ end }}

        {{ range first 1 (index .Site.Menus "join-us") }}
          <li class="menu__item menu__item--join-us">
            <a
              href="{{ .URL }}"
              rel="noopener"
              target="_blank"
            >
              {{ .Name }}

              {{ (resources.Get "img/material-symbols/open-in-new.svg").Content | safeHTML }}
            </a>
          </li>
        {{ end }}
      </ul>

      {{/* デジクリ関連リンク */}}
      <ul class="menu">
        {{ range index .Site.Menus "links" }}
          <li class="menu__item">
            <a
              href="{{ .URL }}"
              rel="noopener"
              target="_blank"
            >
              {{ .Name }}

              {{ (resources.Get "img/material-symbols/open-in-new.svg").Content | safeHTML }}
            </a>
          </li>
        {{ end }}
      </ul>
    </header>

    <main class="body__main">
      {{ block "main" . }}
      {{ end }}
    </main>

    <footer class="body__footer">
      <small class="copyright">© 2023 デジクリ</small>
    </footer>
  </body>
</html>
