<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ .Site.Title }}</title>

    {{ with resources.GetRemote "https://cdn.jsdelivr.net/npm/the-new-css-reset@latest/css/reset.min.css" }}
      <link
        rel="stylesheet"
        href="{{ .Permalink }}"
      />
    {{ end }}

    {{ with resources.Get "scss/style.scss" | resources.ToCSS | resources.Fingerprint }}
      <link
        rel="stylesheet"
        href="{{ .Permalink }}"
      />
    {{ end }}
  </head>
  <body class="body">
    <input
      type="checkbox"
      name="toggle"
      id="header-toggle"
      class="toggle"
    />

    <label
      for="header-toggle"
      class="toggle-button toggle-button--open"
    >
      {{ (resources.Get "img/icons/menu.svg").Content | safeHTML }}
      {{ (resources.Get "img/icons/close.svg").Content | safeHTML }}
    </label>

    <header
      class="header"
      id="header"
    >
      {{/* ロゴ */}}
      {{ with resources.Get "img/logo.svg" }}
        {{ .Content | safeHTML }}
      {{ end }}

      {{/* 目次 */}}
      <nav class="menu">
        <ul>
          {{ block "toc" . }}
          {{ end }}
        </ul>
      </nav>

      <nav class="menu">
        {{/* デジクリ関連リンク */}}
        <ul>
          {{ range index .Site.Menus "links" }}
            {{ $iconPath := print "img/icons/" .Identifier ".svg" }}


            <li>
              <a
                href="{{ .URL }}"
                rel="noopener"
                target="_blank"
                class="menu__item"
              >
                {{ (resources.Get $iconPath).Content | safeHTML }}
                {{ .Name }}
                {{ (resources.Get "img/icons/open-in-new.svg").Content | safeHTML }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </header>

    <main class="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    <footer class="footer">
      <small>© 2023 デジクリ</small>
    </footer>
  </body>
</html>
