{{ define "main" }}
  {{/* PV */}}
  <div class="pv">
    {{ if .Site.IsServer }}
      <iframe
        id="ytplayer"
        type="text/html"
        width="320"
        height="240"
        src=""
        frameborder="0"
        class="pv__player"
      ></iframe>
    {{ else }}
      <iframe
        id="ytplayer"
        type="text/html"
        width="320"
        height="240"
        src="https://www.youtube.com/embed/EaFvRsJAV9U?autoplay=1&mute=1&modestbranding=1&playsinline=1&disablekb=1&loop=1&playlist=EaFvRsJAV9U"
        frameborder="0"
        class="pv__player"
      ></iframe>
    {{ end }}


    <div class="py__scroll-nav">
      Scroll
      {{ (resources.Get "img/material-symbols/arrow-downward.svg").Content | safeHTML }}
    </div>
  </div>

  {{/* デジクリとは？ */}}
  {{ with .Site.GetPage "/about-us" }}
    <article
      class="about-us"
      id="about-us"
    >
      <h2>{{ .Title }}</h2>

      {{ .Content }}
    </article>
  {{ end }}

  {{/* 班紹介 */}}
  {{ with .Site.GetPage "/teams" }}
    <div
      class="teams"
      id="teams"
    >
      <h2>{{ .Title }}</h2>

      <div class="teams__container">
        {{ range index .Site.Menus "teams" }}
          {{ if ne .URL "" }}
            <a
              href="{{ .URL }}"
              rel="noopener"
              target="_blank"
            >
              <article class="teams__card">
                <h3>
                  {{ .Name }}
                  {{ (resources.Get "img/material-symbols/open-in-new.svg").Content | safeHTML }}
                </h3>
              </article>
            </a>
          {{ else }}
            <a>
              <article class="teams__card">
                <h3>{{ .Name }}</h3>
              </article>
            </a>
          {{ end }}

        {{ end }}
      </div>
    </div>
  {{ end }}

  {{/* 新歓スケジュール */}}
  {{ with .Site.GetPage "/schedule" }}
    <div
      class="schedule"
      id="schedule"
    >
      <h2>{{ .Title }}</h2>

      {{ range index .Site.Menus "schedule" }}
        <iframe
          frameborder="0"
          height="480"
          scrolling="no"
          src="{{ .URL }}"
          width="300"
        >
        </iframe>
      {{ end }}
    </div>
  {{ end }}

  {{/* よくある質問 */}}
  {{ with .Site.GetPage "/faq" }}
    <div
      class="faq"
      id="faq"
    >
      <h2>{{ .Title }}</h2>

      <div class="faq__container">
        {{ range .CurrentSection.RegularPages }}
          <article class="faq__card">
            <h3>{{ .Title }}</h3>

            {{ .Content }}
          </article>
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{/* 興味がありますか？ */}}
  {{ with .Site.GetPage "/join-us" }}

    <article class="join-us">
      <div class="join-us__content">
        <h2>{{ .Title }}</h2>

        {{ .Content }}
      </div>

      {{ range first 1 (index .Site.Menus "join-us") }}
        <a
          href="{{ .URL }}"
          rel="noopener"
          target="_blank"
          class="join-us__button"
        >
          {{ .Name }}

          {{ (resources.Get "img/material-symbols/open-in-new.svg").Content | safeHTML }}
        </a>
      {{ end }}
    </article>
  {{ end }}
{{ end }}

{{ define "menu" }}
  {{ range .Site.Sections.ByWeight }}
    {{ $id :=  path.Dir .File.Dir }}


    <li class="menu__item">
      <a href="#{{ $id }}">
        {{ .Title }}
      </a>
    </li>
  {{ end }}
{{ end }}
