.pv {
  block-size: 100vh;
  inline-size: 100%;
  position: relative;
  z-index: -1;

  @media screen and (min-width: 768px) {
    aspect-ratio: 4/3;
    max-block-size: 100vh;
    max-block-size: 100svh;
  }
}

.pv__player {
  background: #000;
  block-size: 100%;
  inline-size: 100%;
  pointer-events: none;
  position: absolute;
}

.pv__scroll-nav {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px 0 0 0;
  bottom: 0;
  color: #fff;
  display: flex;
  padding: 16px;
  position: absolute;
  right: 0;
  writing-mode: vertical-lr;

  > svg {
    block-size: 1em;
    inline-size: 1em;
  }
}
