.teams {
  background: #eee;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-size: var(--title-size);
    font-weight: 700;
    margin-block-end: 32px;
  }
}

.teams__container {
  display: grid;
  gap: 32px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.teams__card {
  aspect-ratio: 16/9;
  background: #000;
  border-radius: 16px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 16px;

  &:hover {
  }

  > h3 {
    align-items: center;
    display: flex;
    font-size: var(--heading-size);
    font-weight: 700;

    > svg {
      block-size: 1em;
      inline-size: 1em;
    }
  }
}
