html {
  margin: 0;
  padding:0;
  font-size: 62.5% !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
  font-size: 1.8rem !important;
  line-height: 1.5 !important;
  letter-spacing: 0.1 !important;
  font-weight: 400;
  color: #484848 !important;
  position: relative;
  height: 100vh;
  width: 100%;
  &::after {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    content: "";
    z-index: 0;
    background: rgba(0, 0, 0 ,0.5);
  }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure {
  margin: 0 !important;
}
ul,li {
  margin:0;
  padding:0;
  list-style: none;
}
a { 
  text-decoration: none;
  color: #37b8df;
  transition: all .6s ease;
}
a:hover { 
  opacity: 0.6;
  transition: all .6s ease;
  text-decoration: none;
}
p {
  font-size: 2rem;
}
.padding {
  padding: 20rem 0;
}
section {
  z-index: 1;
}
.section {
  font-size: 6.5rem;
  margin-bottom: 10rem;
}
.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}
.floating {
  @include _floating;
  z-index: 1;
}
.card {
  @include _card; 
}
.arrow {
  @include _arrow;
}
.arrow-top {
  @include _arrow-top;
}
.arrow-right {
  @include _arrow-right;
}
.loading {
  @include _loading;
}
.btn-custom {
  @include _btn-custom;
}
.btn-custom-prev {
  @include _btn-custom-prev;
}
.btn-custom-next {
  @include _btn-custom-next;
}
.youtube {
  @include _youtube;
}
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}
.caption {
  width: 100%;
  min-width: 100%;
  height: 100vh;
  position: absolute;
  top: 20%;
  z-index: 2;
  color: white;
  & h1 {
    font-size: 8vw;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    display: none;
  }
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
.img-thumbnail {
  width: 100%;
  height: 40rem !important;
  transition: .4s ease;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.img-wrapper {
  overflow: hidden;
}
.hover {
  padding: 0rem 5rem;
}
@media screen and (max-width: 767.98px) {
  .img-thumbnail {
    height: auto;
  }
  h2 {
    font-size: 3rem;
  }
  .section {
    font-size: 4rem;
  }
}