{{ with .Site.GetPage "/event" }}
  <article
    class="event"
    id="event"
  >
    <h2>{{ .Title }}</h2>

    {{ with .Content }}
      <div class="event__content">
        {{ . }}
      </div>
    {{ end }}

    {{ range first 1 (index .Site.Menus "event") }}
      <iframe
        src="{{ .URL }}"
        width="320"
        height="240"
        frameborder="0"
        scrolling="no"
        loading="lazy"
        title="{{ .Name }}"
        class="event__google-calendar"
      ></iframe>
    {{ end }}
  </article>
{{ end }}
