{{ with .Site.GetPage "/schedule" }}
  <article
    class="schedule"
    id="schedule"
  >
    <h2>{{ .Title }}</h2>

    {{ with .Content }}
      <div class="schedule__contents">
        {{ . }}
      </div>
    {{ end }}

    {{ range first 1 (index .Site.Menus "schedule") }}
      <iframe
        src="{{ .URL }}"
        width="320"
        height="240"
        frameborder="0"
        scrolling="no"
        loading="lazy"
        title="{{ .Name }}"
        class="schedule__google-calendar"
      ></iframe>
    {{ end }}
  </article>
{{ end }}
