{{ with .Site.GetPage "/teams" }}
  <div
    class="teams"
    id="teams"
  >
    <h2>{{ .Title }}</h2>

    <div class="teams__container">
      {{ range index .Site.Menus "teams" }}
        <article class="teams__card">
          <h3>
            {{ if .URL }}
              <a
                href="{{ .URL }}"
                rel="noopener"
                target="_blank"
              >
                {{ .Name }}
                {{ (resources.Get "img/icons/open-in-new.svg").Content | safeHTML }}
              </a>
            {{ else }}
              {{ .Name }}
            {{ end }}
          </h3>
        </article>
      {{ end }}
    </div>
  </div>
{{ end }}
