.about-us {
  @include view($min-width: $tablet-portrait) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.about-us__section {
  @extend %section;

  background: $digicre-blue;
  color: #fff;

  > h2 {
    @extend %title;
  }
}

.about-us__content {
  @extend %markdown-content;

  a:any-link {
    color: inherit;
  }
}

.about-us__img {
  background: #404040;
  block-size: 100%;
  object-fit: cover;
}
