.about-us {
  --background: var(--digicre-color);
  --color: #fff;

  @extend %section;

  > h2 {
    @extend %title;
  }
}

.about-us__contents {
  --link-color: #fff;

  @extend %markdown-content;
}
