.events {
  --background: #e9e9e9;
  --color: #000;

  @extend %section;

  > h2 {
    @extend %title;
  }

  // .events__contents
  // @extend %markdown-content;

  table {
    inline-size: 100%;

    > thead {
      > tr {
        background: #606060;
        border: solid 1px #606060;
        color: #fff;

        > th {
          @extend %heading;

          line-height: 1.25;
          padding: 16px;
          text-align: center;
        }
      }
    }

    > tbody {
      > tr {
        border: solid 1px #606060;

        &:nth-child(2n - 1) {
          background: #e9e9e9;
        }

        &:nth-child(2n) {
          background: #fff;
        }

        > td {
          padding: 16px;

          &:first-child {
            @extend %heading;

            line-height: 1.25;
            text-align: center;
          }
        }
      }
    }
  }
}
