.events {
  @include section($background: #e9e9e9, $color: #000);

  > h2 {
    @include title;
  }
}

.events__content {
  // @include markdown-content;

  table {
    inline-size: 100%;

    > thead {
      > tr {
        background: #404040;
        border: solid 1px #404040;
        color: #fff;

        > th {
          @include heading;

          line-height: 1.25;
          padding: 16px;
          text-align: center;
        }
      }
    }

    > tbody {
      > tr {
        border: solid 1px #404040;

        &:nth-child(2n - 1) {
          background: #e9e9e9;
        }

        &:nth-child(2n) {
          background: #fff;
        }

        > td {
          padding: 16px;

          &:first-child {
            @include heading;

            line-height: 1.25;
            text-align: center;
          }
        }
      }
    }
  }
}
