.join-us {
  @include view($min-width: $tablet-portrait) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.join-us__container {
  @extend %section;

  background: #404040;
  color: #fff;

  > h2 {
    @extend %title;
  }
}

.join-us__content {
  @extend %markdown-content;
}

.join-us__button {
  @extend %heading;

  align-items: center;
  background: $digicre-blue;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 32px;
  transition: background-color ease 0.3s;

  &:hover {
    background: lighten($digicre-blue, 25%);
  }

  > svg {
    @extend %icon;
  }
}
