.join-us {
  @include view($min-width: $tablet-portrait) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.join-us__container {
  --background: #606060;
  --color: #fff;

  @extend %section;

  > h2 {
    @extend %title;
  }
}

.join-us__contents {
  @extend %markdown-content;
}

.join-us__button {
  @extend %heading;

  align-items: center;
  background: #00b0f0;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 32px;
  transition: background-color ease 0.3s;

  &:hover {
    background: #70d9ff;
  }

  > svg {
    @extend %icon;
  }
}
