.teams {
  background: #fff;
  padding-block: 64px;
  padding-inline: 32px;

  > h2 {
    font-feature-settings: "palt";
    font-size: var(--title-size);
    font-weight: 700;
    margin-block-end: 32px;
  }
}

.teams__contents {
  margin-block-end: 32px;

  * {
    line-height: 1.5;

    &:where(:not(:last-child)) {
      margin-block-end: 8px;
    }
  }

  a:any-link {
    align-items: center;
    color: rgb(0, 90, 255);
    display: inline-flex;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 700;
  }
}

.teams__container {
  display: grid;
  gap: 32px;

  @include view($min-width: $tablet-portrait) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include view($min-width: $pc) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.teams__card {
  aspect-ratio: 16/9;
  background: #000;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  a {
    &::before {
      block-size: 100%;
      content: "";
      inline-size: 100%;
      inset: 0;
      position: absolute;
    }
  }

  img {
    block-size: 100%;
    inline-size: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    transition: transform ease 0.3s, filter ease 0.3s;

    &:hover {
      filter: brightness(75%);
      transform: scale(1.25);
    }
  }

  h3 {
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 16px 0 0;
    bottom: 0;
    display: flex;
    font-feature-settings: "palt";
    font-size: var(--heading-size);
    font-weight: 700;
    padding: 16px;
    position: absolute;

    > svg {
      block-size: 1em;
      inline-size: 1em;
    }
  }
}
