.teams {
  @extend %section;

  background: #fff;
  color: #000;

  > h2 {
    @extend %title;
  }
}

.teams__content {
  @extend %markdown-content;
}

.teams__wrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(unquote("min(320px, 100%)"), 1fr)
  );
}

.teams__card {
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: 16px;
  color: #fff;
  overflow: hidden;
  position: relative;

  a {
    &::before {
      block-size: 100%;
      content: "";
      inline-size: 100%;
      inset: 0;
      position: absolute;
    }
  }

  img {
    block-size: 100%;
    inline-size: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    transition: transform ease 0.3s, filter ease 0.3s;

    &:hover {
      filter: brightness(75%);
      transform: scale(1.25);
    }
  }

  h3 {
    @extend %heading;

    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 16px 0 0;
    bottom: 0;
    display: flex;
    padding: 16px;
    position: absolute;

    > svg {
      @extend %icon;
    }
  }
}
